<div class="row">
    <div class="col-6">
        <app-donutgrafica titulo="Ventas" [labels]="labels1" [data]="data1" [colors]="colors1"></app-donutgrafica>
    </div>
    <div class="col-6">
        <app-donutgrafica titulo="Compras" [labels]="labels2" [data]="data2" [colors]="colors2"></app-donutgrafica>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-donutgrafica titulo="Empleados" [labels]="labels3" [data]="data3" [colors]="colors3"></app-donutgrafica>
    </div>
    <div class="col-6">
        <app-donutgrafica titulo="Clientes" [labels]="labels4" [data]="data4" [colors]="colors4"></app-donutgrafica>
    </div>
</div>